.con
{
    text-align: center;
    width:100%;
    height:100%;
    margin: auto;
    color: rgb(219, 67, 40) ;

}
.form-style-9{
	max-width: 450px;
	background: #FAFAFA;
	padding: 30px;
    margin: 50px auto;
    padding-top: 5px;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}
.title-center {
    margin: 0 auto;
  }
  #b1
  {
      width: 20%
  }