<div class=con>
    <mat-toolbar color="primary" >
        <span  class="title-center">Data Base Field Validation </span>
      </mat-toolbar>
  <div class=form-style-9>
      <br><br>
      <button mat-raised-button color="accent" routerLink='/insert' id=b1>Insert <mat-icon>create</mat-icon></button>
  
    <br><br>
    <button mat-raised-button color="accent" routerLink='/search' id=b1>Search <mat-icon>search</mat-icon></button>

    <br><br>
    <button mat-raised-button color="accent" routerLink='/update'id=b1> Update 	<mat-icon>update</mat-icon></button>
</div>
</div>


