
  <mat-toolbar color="primary" >
          <span  class="title-center">Update</span> 
        </mat-toolbar>
        <form (submit) = "searchUser()" class="form-style-9" >
        <br><br>
     <mat-label> <b> ID </b> </mat-label>   
<input type="number" id="b1" ngModel placeholder="5" name="id" [(ngModel)]="id"  class="field-style field-full align-none">
<br> <br>

<button mat-raised-button color="accent" class="field-style field-full align-none" >Update	<mat-icon>update</mat-icon></button>
</form>


